<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi aplicación</title>
    <link rel="stylesheet" href="index.cshtml.css" asp-append-version="true" />
</head>
<body>

    <h1 class="text-center mb-0">Prototipo 03 -  Comentarios existentes por libro seleccionado</h1>
    <div class="container mt-2">
        <ul class="progressbar">
            <li>Autores</li>
            <li>Libros</li>
            <li class="active">Comentarios Existentes</li>
            <li>Nuevo Comentario</li>
        </ul>
    </div>

    <div class="container mb-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title ">Autor : @ViewData["AutorSeleccionado"]</h5>
                <h5 class="card-title ">Libro : @ViewData["LibroSeleccionado"]</h5>
            </div>
        </div>
    </div>

    <div class="container container2 mb-0">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Comentarios</h5>
                @foreach (var comentario in ViewBag.Comentarios)
                {
                    <p>@comentario.comentarios - Usuario: @comentario.usuario - Fecha: @comentario.created_at</p>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Detalles del Pedido</h5>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
